.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    width: calc(30% - 20px);
}

.card img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

#total-count {
    font-weight: bold;
    margin-top: 10px;
}

#collection-items, #favorite-items {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}